.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #0f0f23;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background: #0f0f23;
}
